

.hqs {
    text-align: center;
    background-color: #bfbfbf; /* Fundo cinza */
    padding: 30px;
  
    h1 {
      color: #ffd700; /* Amarelo forte para o título */
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
  
    p {
      color: #ffffff; /* Texto branco para contraste */
      margin-bottom: 20px;
    }
  
    .hqs-list {
      display: flex;
      flex-direction: column;
      gap: 20px; /* Espaço entre os cartões */
    }
  
    .hq {
      display: flex;
      align-items: center;
      gap: 15px;
      background-color: #4f4f4f; /* Fundo mais escuro para os itens */
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  
      .imagem-hq {
        width: 120px;
        height: 180px; /* Proporção de pôster para HQs */
        object-fit: cover;
        border-radius: 8px;
        border: 2px solid #ffd700; /* Destaque amarelo nas imagens */
      }
  
      .texto-hq {
        text-align: left;
        color: #ffd700; /* Texto amarelo forte */
  
        h2 {
          margin: 0 0 8px;
          font-size: 20px;
          font-weight: bold;
        }
  
        p {
          margin: 0;
          font-size: 14px;
          line-height: 1.4;
        }
      }
    }
  }
